<div class="bg-[#F3F4F6] scroll-smooth">
  <div class="flex justify-between items-center bg-primary text-[#fefefe] px-6 py-4">
    <nav class="hidden md:flex gap-2">
      <a href="#" class="nav-link">Home</a>
      <a href="#about-me" class="nav-link">About Me</a>
      <a href="#skills" class="nav-link">Skills</a>
      <a href="#portfolio" class="nav-link">Portfolio</a>
      <a href="#contact-me" class="nav-link">Contact Me</a>
    </nav>

    <div class="md:hidden">
      <button (click)="showMenu = !showMenu" class="text-white focus:outline-none">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <a href="whatsapp:07089306019">
      <img class="whatsapp-logo hover:-translate-y-1 hover:scale-110 duration-300" src="../assets/whatsapp.gif" alt="">
    </a>
  </div>

  <div [ngClass]="{'hidden md:hidden': !showMenu}" class="hidden md:hidden">
    <div class="bg-[#000000] fixed top-0 left-0  w-full h-full bg-black bg-opacity-50">
      <div
        class="bg-secondary text-primary z-index-2 flex flex-col w-2/3 items-start gap-4 p-4 h-full shadow rounded-r-lg ">
        <button (click)="showMenu = !showMenu" class="mb-10 text-primary focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <a href="#" class="nav-link">Home</a>
        <a href="#about-me" class="nav-link">About Me</a>
        <a href="#skills" class="nav-link">Skills</a>
        <a href="#portfolio" class="nav-link">Portfolio</a>
        <a href="#contact-me" class="nav-link">Contact Me</a>
      </div>

    </div>
  </div>


  <div class="px-10 pt-6 pb-2 bg-secondary">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
      <div class="mx-auto">
        <h1 class="text-edu font-bold text-3xl mb-3">Hello, I'm Seun</h1>
        <p>
          Empowering Scalable and User-Centric Solutions with Expertise in Angular, React, and Cloud Computing.
        </p>
        <p class="mt-3">
          With a commitment to excellence, I craft software solutions that drive innovation and deliver value.
        </p>
        <div class="mt-20 flex gap-x-4 items-center">
          <a href="https://drive.google.com/file/d/1knOHbSK-flVdwNrdFa8EMfio0XRnnQZN/view?usp=drive_link"
            target="_blank"
            class="bg-primary rounded px-4 py-2 text-white flex gap-2 hover:-translate-y-1 hover:scale-110 duration-300">
            <span>
              Download Resume
            </span>
            <img class="h-5" src="../assets/download.svg" alt="">
          </a>
          <a href="https://github.com/OluseunDesina" target="_blank"
            class="social-link bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow hover:-translate-y-1 hover:scale-110  duration-300">
            <img src="../assets/github.svg" alt="">
          </a>
          <a href="https://www.linkedin.com/in/oluwaseundesina/" target="_blank"
            class="social-link bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow hover:-translate-y-1 hover:scale-110  duration-300">
            <img src="../assets/linkedin.svg" alt="">
          </a>
        </div>

      </div>
      <div class="mt-10 md:mt-0 hero-bg flex justify-center">
        <img class="rounded-lg hero-img hover:-translate-y-1 hover:scale-105 duration-300" src="../assets/hero.png"
          alt="">
      </div>
    </div>
  </div>

  <section id="about-me" class="about-me py-16 px-10">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex justify-center gap-1">
        <div class="stat-card">
          <p class="text-7xl font-bold">5+</p>
          <p class="text-[1.25rem]">Years of experience</p>
        </div>
        <div class="stat-card">
          <p class="text-7xl font-bold">50+</p>
          <p class="text-[1.25rem]">Projects completed</p>
        </div>
      </div>
      <div class="mt-10 md:mt-0">
        <h3 class="text-primary text-3xl font-semibold">About Me</h3>
        <p class="text-justify">
          I am Adesina Emmanuel Oluwaseun, a seasoned software developer with over 5 years of experience leading
          frontend
          development and integrating cross-functional technologies. My core strength lies in Angular, where I’ve
          spearheaded complex projects, revolutionizing web experiences.
        </p>
        <p class="text-justify mt-3">
          I also bring versatility to the table, leveraging React for dynamic interfaces, C# for robust backend
          solutions,
          and AWS cloud computing to ensure scalability and resilience in every application I develop. My ability to
          bridge frontend, backend, and cloud services equips me to deliver full-stack solutions that meet modern
          business
          needs.
        </p>
      </div>
    </div>
  </section>

  <section id="skills" class="skills py-24">
    <p class="text-3xl font-semibold text-primary text-center underline">TOP SKILLS</p>
    <p class="text-edu mb-10 text-4xl lg:text-7xl font-bold text-center">See my expertise</p>
    <div class="flex flex-wrap lg:flex-nowrap gap-2 justify-center mt-10">
      <div class="skill-holder">
        <div
          class="mx-auto mb-[3rem] bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow duration-300">
          <img class="h-12" src="../assets/angular.svg" alt="">
        </div>
        <p>Frontend Development</p>
        <p>Angular</p>
        <p class="mb-[2rem]">Proficient</p>
      </div>
      <div class="skill-holder">
        <div
          class="mx-auto mb-[3rem] bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow duration-300">
          <img class="h-12" src="../assets/react.svg" alt="">
        </div>
        <p>Frontend Development</p>
        <p>React</p>
        <p class="mb-[2rem]">Proficient</p>
      </div>
      <div class="skill-holder">
        <div
          class="mx-auto mb-[3rem] bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow duration-300">
          <span class="font-bold h-20">.NET</span>
          <!-- <img class="h-12" src="../assets/react.svg" alt=""> -->
        </div>
        <p>Backend Development</p>
        <p>.Net Core</p>
        <p class="mb-[2rem]">Foundational Actively Advancing</p>
      </div>
      <div class="skill-holder">
        <div
          class="mx-auto mb-[3rem] bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow duration-300">
          <img class="h-12" src="../assets/aws.svg" alt="">
        </div>
        <p>Cloud Computing</p>
        <p>AWS</p>
        <p class="mb-[2rem]">Foundational Actively Advancing</p>
      </div>
      <div class="skill-holder">
        <div
          class="mx-auto mb-[3rem] bg-white p-2 rounded-full shadow-md hover:shadow-lg transition-shadow duration-300">
          <img class="h-12" src="../assets/tailwindcss.svg" alt="">
        </div>
        <p>Others</p>
        <p>Tailwind CSS</p>
        <p class="mb-[2rem]">Proficient</p>
      </div>
    </div>
  </section>

  <section id="portfolio" class="portfolio bg- py-4">
    <p class="text-3xl font-semibold text-primary text-center underline">Portfolio</p>
    <p class="text-edu mb-10 text-4xl lg:text-7xl font-bold text-center">My Recent work</p>

    <div class="flex gap-4 p-6 w-full">
      <ul class="text-primary flex flex-col gap-2">
        @for (portfolio of portfolios; track portfolio.title; let idx =$index ) {
        <li [ngClass]="{'active !text-white': selectedIndex == idx}"
          class="cursor-pointer px-8 py-4 text-[1.25rem] hover:bg-secondary hover:rounded-lg hover:-translate-y-1 hover:scale-104 duration-300 "
          (click)="onUrlChange(portfolio.link, idx)">
          {{portfolio.title}}
        </li>
        }
      </ul>
      <div class="relative md:flex-grow w-full max-w-[1025px] mx-auto">
        @if (selectedUrl) {
        <div class="absolute top-0 left-0 w-full h-[450px] md:h-[550px] rounded-lg overflow-hidden">
          <!-- The iframe -->
          <iframe
            class="hidden md:block absolute top-0 left-0 w-full h-full transform scale-90 transform-origin-top-left border-none"
            [src]="selectedUrl" scrolling="no" sandbox="allow-scripts allow-same-origin" loading="lazy">
            Your browser does not support iframes. Please <a [href]="selectedUrl" target="_blank">view the app here</a>.
          </iframe>

          <!-- The overlay -->
          <div [ngClass]="{'animate-pulse': loaded == false}"
            class="bg-[#000000] absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center">
            @if (loaded === true) {
            <a [attr.href]="selectedUrl" target="_blank"
              class="hover:animate-none bg-primary rounded-lg px-8 py-4 text-white flex gap-2 hover:-translate-y-1 hover:scale-110 duration-300">
              <span>
                Visit Site
              </span>
              <img class="h-5" src="../assets/window-maximize.svg" alt="">
            </a>
            } @else {
            <a
              class="animate-bounce bg-primary rounded-lg px-8 py-4 text-white flex gap-2 hover:-translate-y-1 hover:scale-110 duration-300">
              <svg class="animate-spin h-8 w-8 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                </circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
                </path>
              </svg>
              <span>
                Loading...
              </span>
            </a>
            }
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <section id="contact-me" class="contact-form pb-4">
    <form [formGroup]="form"
      class="text-primary w-full md:w-1/2 container mx-auto bg-white rounded-lg py-8 px-16 gap-4 shadow-md transition-shadow hover:shadow-lg cursor-pointer duration-300">
      <p class="text-edu text-4xl lg:text-7xl font-bold text-center">CONTACT ME</p>
      <p class="text-center mb-20 mt-5">Turning Ideas into Reality. Reach Out to Start the Journey</p>
      <div class="flex flex-col mb-4">
        <input formControlName="from_name" class="h-10 p-2 border-[1px] border-primary rounded-md" placeholder="Name"
          type="text">
        @if (from_name.invalid && (from_name.dirty || from_name.touched)) {
        <p class="text-sm text-[#ff0e0e]">Name is a required field</p>
        }
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
        <div class="flex flex-col mb-4">
          <input formControlName="user_email" class="h-10 p-2 border-[1px] border-primary rounded-md"
            placeholder="Email" type="email">
          @if (user_email.invalid && (user_email.dirty || user_email.touched)) {
          <p class="text-sm text-[#ff0e0e]">Kindly use a valid email</p>
          }
        </div>
        <div class="flex flex-col mb-4">
          <input formControlName="user_phone" class="h-10 p-2 border-[1px] border-primary rounded-md"
            placeholder="Phone" type="text">
          @if (user_phone.invalid && (user_phone.dirty || user_phone.touched)) {
          <p class="text-sm text-[#ff0e0e]">Phone is a required field</p>
          }
        </div>
      </div>


      <div class="flex flex-col mb-4">
        <textarea formControlName="message" placeholder="Tell me about your project"
          class="h-40 p-2 border-[1px] border-primary rounded-md" id="message"></textarea>
        @if (message.invalid && (message.dirty || message.touched)) {
        <p class="text-sm text-[#ff0e0e]">Message is a required field</p>
        }
      </div>
      <button (click)="onSubmit()"
        class="animate-bounce hover:animate-none mt-2 bg-primary rounded px-4 py-2 text-white flex gap-2 hover:-translate-y-1 hover:scale-110 duration-300">
        @if (sendingMail) {
        <svg class="animate-spin h-8 w-8 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
          </circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
          </path>
        </svg>
        } @else {
        <span>
          Send Form
        </span>
        <img class="h-5" src="../assets/send.svg" alt="">
        }
      </button>
    </form>
  </section>

  <section class="footer bg-primary text-white">
    <footer>
      <div class="flex justify-center py-12">
        <p class="text-gray-700 text-sm">
          &copy; {{year}} | All rights reserved | Made with ❤️ by <a href="https://www.linkedin.com/in/oluwaseundesina/"
            target="_blank" class="underline cursor-pointer">Oluwaseun Adesina</a>
        </p>
      </div>
    </footer>
  </section>
</div>
